@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/NotoSans-Regular.ttf);
}
body {
  background-color: #fffcf0;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #3e2b27;
  font-size: 18px;
  line-height: 28px;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.contein {
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding: 0 10px;
}
h2 {
  text-align: center;
  font-size: 22px;
  line-height: 34px;
}
header {
  border-bottom: 3px solid #3e2b27;
}
header .logo,
header .contacts {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
header .logo ul,
header .contacts ul {
  margin: 10px 0 0 30px;
  font-size: 22px;
  padding: 0;
}
header .logo ul li,
header .contacts ul li {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 36px;
}
header .logo ul li span,
header .contacts ul li span {
  color: #3e2b27;
}
header .logo ul li span::before,
header .contacts ul li span::before {
  color: #82684d;
}
header .logo ul li span a,
header .contacts ul li span a {
  text-decoration: none;
  color: #3e2b27;
}
header .contein {
  margin: 0 auto;
}
.navigation {
  text-align: center;
  background: linear-gradient(to right, #a88257, #fffadc, #967a50);
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation ul li {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
  font-size: 24px;
}
.navigation ul li:hover {
  box-shadow: 0 3px 0 #3e2b27;
}
.navigation ul li a {
  text-decoration: none;
  color: #3e2b27;
}
article img {
  display: block;
}
article.we-are .citata,
article.we-are .photo {
  float: left;
}
article.we-are .photo-small {
  display: none;
  float: left;
}
article.we-are .citata {
  position: relative;
  width: 75%;
}
article.we-are .citata .text {
  margin-left: 70px;
  margin-top: 40px;
  margin-right: 20px;
  font-size: 24px;
  line-height: 36px;
}
article.we-are .citata .cite {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;
  text-align: right;
  color: #82684d;
  margin: 0 30px 0 0;
}
article.we-are .citata .icon-quote-left {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 42px;
}
article.we-are .photo {
  width: 25%;
  box-shadow: -4px 4px 5px #c1b1a8;
}
article.we-are .photo-small {
  display: none;
}
.services {
  border: 4px double #3e2b27;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.services ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.services ul li {
  display: inline-block;
  padding: 5px 7px;
}
article.certificate {
  background: linear-gradient(to bottom right, #a88257, #fffadc, #967a50);
  padding: 15px;
  box-sizing: border-box;
}
article.certificate .photo,
article.certificate .text {
  float: left;
  box-sizing: border-box;
}
article.certificate .photo h2,
article.certificate .text h2 {
  text-align: center;
}
article.certificate .photo {
  width: 50%;
  box-shadow: 3px 3px 5px #5d534d;
}
article.certificate .text {
  width: 50%;
}
article.certificate .text p {
  margin-left: 20px;
}
article.contacts {
  text-align: left;
}
article.contacts .contact-map-partners,
article.contacts .course {
  box-sizing: border-box;
}
article.contacts .contact-map-partners {
  float: left;
  width: 55%;
}
article.contacts .contact-map-partners ul {
  margin: 0 15px 0 0;
  padding: 0 5px;
  list-style-type: none;
}
article.contacts .contact-map-partners ul li a {
  text-decoration: none;
  color: #3e2b27;
}
article.contacts .contact-map-partners article.map {
  padding: 15px;
  background: #fcf6e0;
  color: #3e2b27;
  box-shadow: 0 0 7px #938161;
}
article.contacts .contact-map-partners article.map .map-img {
  margin-top: 10px;
}
article.contacts .course {
  float: right;
  width: 40%;
  box-sizing: border-box;
  border: 4px double #3e2b27;
}
.partners .title {
  text-align: center;
}
.partners .clearfix {
  margin-bottom: 10px;
}
.partners .clearfix:last-child {
  margin-bottom: 0;
}
.partners .partner {
  float: left;
  width: 48%;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 1px 2px 7px #bb9d8d;
  background-color: #bcaf92;
}
.partners .partner:last-child {
  float: right;
}
.partners.small {
  display: none;
}
footer {
  background-color: #3e2b27;
  color: #bcaf92;
  padding: 5px 0;
}
footer .logo {
  text-align: center;
}
footer .contein-footer {
  width: 50%;
  margin: 0 auto;
}
footer .contacts {
  text-align: center;
}
footer .contacts span {
  margin-right: 20px;
  font-size: 18px;
}
footer .contacts span:last-child {
  margin-right: 0;
}
@media screen and (max-width: 860px) {
  header .logo,
  header .contacts {
    width: 100%;
  }
  header .contacts ul {
    margin: 0 5px;
    font-size: 20px;
  }
  article.we-are .citata {
    width: 75%;
  }
  article.we-are .citata .icon-quote-left {
    display: none;
  }
  article.we-are .citata .text {
    margin: 10px;
    font-size: 20px;
  }
  article.we-are .citata .cite {
    font-size: 18px;
  }
  article.we-are .photo {
    width: 25%;
  }
  article.certificate .photo,
  article.certificate .text {
    width: 100%;
  }
  article.contacts .contact-map-partners,
  article.contacts .course {
    width: 100%;
  }
  article.contacts .clearfix {
    margin-bottom: 0;
  }
  article.contacts .clearfix:last-child {
    margin-bottom: 0;
  }
  article.contacts .partners {
    display: none;
  }
  footer .contein-footer {
    width: 100%;
  }
  article.partners.small {
    display: block;
  }
  article.partners.small .clearfix {
    margin-bottom: 0;
  }
  article.partners.small .clearfix:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 860px) {
  .navigation ul li {
    font-size: 20px;
    padding: 10px;
  }
  .partners .partner {
    width: 100%;
  }
  article.we-are .citata,
  article.we-are .photo-small {
    width: 100%;
    display: block;
  }
  article.we-are .photo {
    display: none;
  }
}
