@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf);
}
body {
  background-color: #ebebeb;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #203f54;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  display: inline;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body ul li a {
  text-decoration: none;
  color: #203f54;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.application {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.application:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
.header {
  background: #ccdbea;
  border-bottom: 2px solid #f37e00;
}
.header .navigation {
  position: relative;
  text-align: center;
}
.header .navigation ul {
  font-size: 0;
  display: inline-block;
}
.header .navigation li a {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  transition: background 0.5s ease-out;
}
.header .navigation li a:hover {
  background: #f37e00;
  color: #f7f6f6;
}
.header .navigation li a.selected {
  background: #f37e00;
  color: #f7f6f6;
}
.header .navigation li .like-button {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.header .navigation li .like-button:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
.header .navigation li .like-button.small-screen {
  display: none;
}
.header .navigation .absolute-logo {
  position: absolute;
  left: -25px;
  top: 0;
}
.small-screen-zayavka {
  display: none;
}
.small-screen-zayavka .like-button {
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
.small-screen-zayavka .like-button:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
.conteiner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.medium-4 {
  float: left;
  width: 30%;
  margin-right: 5%;
  box-sizing: border-box;
}
.medium-4:last-child {
  margin-right: 0;
}
.medium-6 {
  float: left;
  width: 47%;
  margin-right: 6%;
  box-sizing: border-box;
}
.medium-6:last-child {
  margin-right: 0;
}
.medium-8 {
  float: left;
  width: 70%;
  box-sizing: border-box;
}
.contact-li li {
  display: block;
  font-size: 18px;
  line-height: 27px;
}
.contact-li li a:hover {
  color: #f37e00;
}
.main-block {
  margin-top: 20px;
}
.main-block .contacts {
  position: relative;
  margin-top: 20px;
}
.main-block .contacts li {
  display: block;
  font-size: 18px;
  line-height: 27px;
}
.main-block .contacts li a:hover {
  color: #f37e00;
}
.main-block .contacts .small-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
}
.main-block .contacts .small-menu input[type="checkbox"] {
  display: none;
}
.main-block .contacts .small-menu input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #f37e00;
  border-radius: 5px;
  background: #f7f6f6;
  float: right;
}
.main-block .contacts .small-menu input[type="checkbox"] + label + ul {
  display: none;
}
.main-block .contacts .small-menu input[type="checkbox"] + label::before,
.main-block .contacts .small-menu input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 4px;
  background: grey;
  top: 9px;
  left: 6px;
  transition: all 0.3s ease-out;
}
.main-block .contacts .small-menu input[type="checkbox"] + label::after {
  top: 28px;
  box-shadow: 0 -10px 0 #808080;
}
.main-block .contacts .small-menu input[type="checkbox"]:checked + label + ul {
  display: block;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  background: #f7f6f6;
  transition: all 0.3s ease-out;
}
.main-block .contacts .small-menu input[type="checkbox"]:checked + label + ul li {
  display: block;
  padding: 3px;
  font-size: 16px;
  line-height: 24px;
  border-bottom: 1px solid lightgrey;
}
.main-block .contacts .small-menu input[type="checkbox"]:checked + label + ul li:last-child {
  border-bottom: none;
}
.main-block .contacts .small-menu input[type="checkbox"]:checked + label::before,
.main-block .contacts .small-menu input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background: grey;
  transform-origin: top left;
  transform: rotate(45deg) translateY(-3px);
  top: 9px;
  left: 6px;
}
.main-block .contacts .small-menu input[type="checkbox"]:checked + label::after {
  top: 28px;
  transform: rotate(-45deg) translate(-4px, 3px);
  box-shadow: none;
}
.main-block .logo {
  text-align: center;
}
.short-info li {
  display: block;
}
.short-info .digit,
.short-info .txt {
  display: inline-block;
  font-weight: bold;
}
.short-info .digit {
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  background: linear-gradient(to top, #0e2f61, #ccdbea);
  color: #f7f6f6;
  border-radius: 50%;
  border: 1px solid #f37e00;
  box-shadow: 1px 1px 2px grey;
}
.short-info .txt {
  position: relative;
  display: inline-block;
  width: 250px;
  font-size: 18px;
  line-height: 27px;
  background-color: #ccdbea;
  padding: 5px 5px 5px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #0e2f61;
  margin-bottom: 20px;
}
.contein-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.carousel {
  position: relative;
  background-color: #ccdbea;
  margin-top: 20px;
  color: #203f54;
  box-shadow: 1px 1px 4px grey;
}
.carousel .carousel-image {
  position: relative;
  min-height: 430px;
  box-shadow: 10px 0 0 #f37e00;
}
.carousel .carousel-image .cont-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  min-height: 430px;
}
.carousel .carousel-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-image::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #f37e00;
  background-color: transparent;
  transform: rotate(135deg);
  right: -25px;
  top: 50px;
}
.carousel .carousel-image img {
  width: 100%;
  height: auto;
}
.carousel .medium-4 {
  margin-right: 0;
  padding: 5px 15px 25px 35px;
}
.carousel .next,
.carousel .prev {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #f7f6f6;
  background-color: #f37e00;
  width: 40px;
  height: 40px;
  font-size: 16px;
  padding: 0;
  border: 0;
}
.carousel .next:disabled,
.carousel .prev:disabled {
  background-color: #ffa341;
}
.carousel .prev {
  right: 40px;
}
.about-us {
  margin-top: 30px;
}
.about-us .cont-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}
.about-us .cont-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.about-us .cont-txt {
  background-color: #FFFFFF;
  border-bottom: 2px solid #8f8f8f;
  padding: 20px 40px 30px 40px;
}
.about-us h2 {
  font-size: 18px;
  line-height: 27px;
}
.price-contacts {
  margin-top: 30px;
}
.price-contacts .panel {
  box-sizing: border-box;
  border-left: 5px solid #f37e00;
  padding: 25px 30px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #8f8f8f;
}
.price-contacts .panel li {
  display: block;
  font-size: 18px;
  line-height: 27px;
}
.price-contacts .panel li a:hover {
  color: #f37e00;
}
.price-contacts .panel li {
  margin-bottom: 10px;
}
.price-contacts .panel h2 {
  margin-top: 0;
}
.price-contacts .panel.important {
  background: #ffb05a;
  border-bottom: none;
  box-shadow: 1px 1px 4px grey;
}
.price-contacts .panel.price {
  font-size: 18px;
}
.doc {
  padding-left: 20px;
}
.doc li {
  display: block;
  margin-bottom: 5px;
}
.doc li:last-child {
  margin-bottom: 0;
}
.doc .cont-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 240px;
}
.doc .cont-txt {
  padding: 20px;
  background: #0e2f61;
  color: #f7f6f6;
}
.doc .cont-txt h2 {
  margin-top: 0;
  text-align: center;
}
.to-start {
  margin-top: 40px;
  text-align: center;
}
.to-start a {
  font-size: 18px;
  padding: 15px 25px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  color: #203f54;
  text-decoration: none;
  box-shadow: 1px 1px 4px grey;
}
.to-start a:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
.footer {
  margin-top: 30px;
  background: #0e2f61;
  color: #f7f6f6;
  clear: both;
}
.footer .autoclub {
  display: inline-block;
  position: relative;
  height: 50px;
  border-left: 50px solid #f37e00;
  line-height: 50px;
  padding-left: 10px;
}
.footer .autoclub::before {
  content: "A";
  position: absolute;
  font-size: 40px;
  font-weight: bold;
  top: 50%;
  left: -37px;
  transform: translateY(-50%);
}
.footer .contacts {
  float: right;
  text-align: center;
}
#sendApp {
  display: none;
}
#sendApp + .send-app {
  display: none;
}
#sendApp:checked + .send-app {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#sendApp:checked + .send-app .form {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 2px solid #f37e00;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  width: 92%;
  max-width: 450px;
}
#sendApp:checked + .send-app .form form {
  position: relative;
}
#sendApp:checked + .send-app .form form h2 {
  margin: 10px 0;
  font-size: 24px;
  line-height: 45px;
  font-weight: bold;
  color: #8d4900;
}
#sendApp:checked + .send-app .form form h3.messageDone {
  font-size: 0;
  line-height: 0;
}
#sendApp:checked + .send-app .form form h3.messageDone.show {
  font-size: 20px;
  line-height: 25px;
}
#sendApp:checked + .send-app .form form .form-row {
  margin-bottom: 10px;
}
#sendApp:checked + .send-app .form form .form-row:last-child {
  margin-bottom: 0;
  text-align: center;
}
#sendApp:checked + .send-app .form form .form-row input,
#sendApp:checked + .send-app .form form .form-row textarea {
  outline: none;
  border: 1px solid #0e2f61;
  font-size: 16px;
  line-height: 24px;
  width: 65%;
  float: right;
  color: black;
  padding: 0px 5px;
  border-radius: 5px;
}
#sendApp:checked + .send-app .form form .form-row input.error,
#sendApp:checked + .send-app .form form .form-row textarea.error {
  border-color: red;
}
#sendApp:checked + .send-app .form form .form-row #submit {
  font-size: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  cursor: pointer;
}
#sendApp:checked + .send-app .form form .form-row #submit:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
#sendApp:checked + .send-app .form form .close-form {
  position: absolute;
  top: -5px;
  right: -5px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#sendApp:checked + .send-app .form form .close-form::before,
#sendApp:checked + .send-app .form form .close-form::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 4px;
  background: grey;
  transform: rotate(45deg);
}
#sendApp:checked + .send-app .form form .close-form::after {
  transform: rotate(-45deg);
}
table {
  border-collapse: collapse;
  border: none;
}
table td {
  box-sizing: border-box;
  border: none;
  padding: 3px 2px;
}
table td a {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 16px;
  padding: 3px 8px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #f37e00;
  background: linear-gradient(to top, #f37e00, #ffffff);
  font-weight: bold;
  outline: none;
  color: #203f54;
  text-decoration: none;
}
table td a:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
.scrollup,
#gotop {
  text-align: center;
}
.scrollup a,
#gotop a {
  border: 1px solid #0e2f61;
  padding: 3px 8px;
  border-radius: 3px;
  color: #f7f6f6;
  background: linear-gradient(to top, #0e2f61, #ffffff);
  text-decoration: none;
}
.scrollup a:hover,
#gotop a:hover {
  background: linear-gradient(to bottom, #0e2f61, #ffffff);
}
#gotop {
  margin-top: 10px;
}
input[type="radio"] {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}
input[type="radio"]::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid #f37e00;
}
input[type="radio"]:checked::before {
  width: 12px;
  height: 12px;
  background: #f37e00;
  border: 4px solid white;
  box-shadow: 0 0 6px #8d4900;
}
input[type="text"] {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid #0e2f61;
  margin-bottom: 5px;
  color: red;
  font-size: 18px;
  line-height: 18px;
  width: 21px;
}
#test {
  width: 100% !important;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
}
#test ol {
  padding: 0 15px;
}
input[type="button"] {
  border: 1px solid #f37e00;
  padding: 5px 10px;
  border-radius: 3px;
  background: linear-gradient(to top, #f37e00, #ffffff);
  text-decoration: none;
}
input[type="button"]:hover {
  background: linear-gradient(to bottom, #f37e00, #ffffff);
}
textarea {
  border-radius: 5px;
}
@media screen and (max-width: 920px) {
  .main-block .short-info {
    display: none;
  }
  .main-block .medium-4 {
    width: 47%;
    margin-right: 6%;
  }
  .main-block .medium-4:last-child {
    margin-right: 0;
  }
  .about-us .cont-image img {
    height: 100%;
    width: auto;
  }
  .carousel .medium-8,
  .price-contacts .medium-8,
  .carousel .medium-4,
  .price-contacts .medium-4 {
    width: 100%;
    margin: 0;
  }
  .carousel .carousel-image,
  .price-contacts .carousel-image {
    box-shadow: none;
  }
  .carousel .carousel-image::after,
  .price-contacts .carousel-image::after {
    border: none;
  }
  .price-contacts .panel {
    margin-bottom: 10px;
  }
  .price-contacts .doc {
    padding: 0;
  }
}
@media screen and (max-width: 780px) {
  .about-us {
    margin-top: 10px;
  }
  .about-us .medium-6 {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .about-us .cont-image img {
    width: 100%;
    height: auto;
  }
  .price-contacts {
    margin-top: 0px;
  }
  .header .navigation li .like-button.small-screen {
    display: inline-block;
    margin-bottom: 5px;
  }
  .big-screen {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  .header:not(.test) {
    display: none;
  }
  .main-block {
    background: #ccdbea;
    padding-bottom: 10px;
    margin: 0;
  }
  .main-block .medium-4 {
    width: 100%;
    margin: 0;
  }
  .main-block .medium-4.contacts {
    margin-top: 10px;
  }
  .main-block .contacts .small-menu {
    display: block;
  }
  .carousel {
    margin-top: 0;
  }
  .carousel .carousel-image {
    min-height: 330px;
  }
  .carousel .carousel-image .cont-image {
    min-height: 330px;
  }
  .small-screen-zayavka {
    display: block;
  }
}
@media screen and (max-width: 375px) {
  .about-us .cont-image {
    height: 200px;
  }
  .about-us .cont-image img {
    height: auto;
    width: 100%;
  }
  .carousel .carousel-image {
    min-height: 220px;
  }
  .carousel .carousel-image .cont-image {
    min-height: 220px;
  }
  table td a {
    width: auto;
  }
  center img {
    width: 100%;
  }
  center textarea {
    width: 100%;
  }
  section#content h2 {
    font-size: 20px;
  }
}
